#xlsx-upload-form,
#xlsx-output-html {
  font-size: small;
  overflow: auto;
  position: fixed;
  right: 1rem;
  width: 200px;
  z-index: 999999999;
  * {
    font-size: small;
  }
}
#xlsx-output-html {
  height: 500px;
  top: calc(43px + 3rem);
  table {
    background-color: white;
    display: none;
    transition: width ease-in-out .3s;
  }
  &:hover {
    width: 600px;
    transition: width ease-in-out .3s;
  }
  table {
    td {
      &:hover {
        background-color: yellow;
        color: black;
        cursor: pointer;
      }
    }
  }
}
#xlsx-upload-form {
  border: none;
  height: auto;
  margin: 0;
  text-align: center;
  top: 1rem;
}
.w-x-50,
#xlsx-clear-button {
  width: 50%;
}
.w-x-100 {
  width: 100%;
}