html, body {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    * {
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}
.w-31 {
    width: 31px !important;
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.curacao-link,
a.curacao-link:hover {
    background-color: rgba(0, 0, 255, .4);
}

.curacao-link,
.curacao-link:hover {
    position: absolute
}





img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.linky {
    position: fixed;
    z-index: 999999
}

.linky,
.linky>a {
    width: 200px
}

.moveThis {
    z-index: 9999999
}

.position-rel {
    position: relative
}

.position-abs {
    position: absolute
}

.curacao-link,
.curacao-link.deletable,
.curacao-link.deletable:hover,
.curacao-link:hover {
    border: 1px solid #000;
    cursor: pointer;
    font-size: 11px;
    overflow: auto;
    resize: both;
    text-align: center
}

.curacao-link,
.curacao-link:hover {
    background: rgba(0, 255, 0, .6);
    color: #000;
    opacity: 1;
    z-index: 999
}

.deletable>div {
    display: none !important;
}

.curacao-link.deletable,
.curacao-link.deletable:hover {
    background: rgb(255, 0, 0, .6);
    color: #fff;
    opacity: 1;
}

.lh-0 {
    line-height: 0
}

.linkyDrag {
    line-height: 1.5 !important;
    padding: .5rem !important;
    text-align: center;
}

.linkyDrag>div {
    display: flex;
    justify-content: space-between
}

.linkyDrag>div div {
    width: 100%
}


.linkyMod {
    position: fixed;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    margin-top: 5rem;
    margin-left: 1rem;
}
input:focus {
    background-color: yellow !important;
    border-color: yellow !important;
    font-weight: bold !important;
    color: black !important;
}